.footer {
  border-top: 1px solid rgb(73, 70, 70);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
}

.footer-icon {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}
